.calculator {
    width: 250px;
    height: 350px;
    border: 1px solid black;
    margin: 100px auto 0;
    text-align: center;
    background-color: #4f6fd1;
    border-radius: 2px;
}
 
.form {
    height: 100%;
    padding: 20px;
}
 
.row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
 
.display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 4px 2px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 16px;
    color: darkslateblue;
    background-color: whitesmoke;
}
 
.key {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition: all .2s ease;
    text-transform: uppercase;
    border-radius: 5px;
}
 
.key_big {
    width: 98px;
}
 
.key:hover {
    background-color: #868383;
    font-weight: 700;
}
 